body{
  font-family: 'Open Sans', sans-serif;
}
/*************************
NAVBAR
*************************/







.nave{
  background: black;
  padding-top: 10px;
}

.naveUl{
  text-align: center;
  margin-top: 20px;


}

.naveUl li {
  text-align: center;

}



.nave ul li{
  list-style: none;
  display: inline;
  margin-top: 50px;
  margin-left: 60px;

  transition: font-weight .3s;
}

.nave ul li i {
  font-size: 20px;
  color: white;

}

.nave ul li i:hover {
  font-weight: bolder;

}

.naveUl li a{
  text-decoration: none;
  color: black;
  font-size: 1em;
  
}

.socialBtn{
  list-style: none;

}

.socialBtn li{
  list-style: none;
  display: inline;
}
/*************************
HEADER
*************************/

.headerBanner{
  background: url("images/") no-repeat;
  background-size: 100%;
  height: 600px;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
height: 600px;
margin: 0px auto;

}

.headerDescription {
  background: rgba(255,255,255,.7);
  font-size: 25px;
  width: 50%;
  height: 50%;

  position: relative;
  top: 70px;
  font-weight: lighter;
  padding: 30px;

}

.hello{
  font-size: 2em;
  font-weight: 600;
  display: inline;
  position: relative;
  float:left;

}

.intro2{
  border-left: 1px solid black;
  padding-left: 10px;

}

.socialBtn{
  float: right;
}

.button{
  list-style: none;
  text-decoration: none;
  border: 1px solid rgba(11,11,11,.4);
  transition: border .3s ease;
}

.button:hover{
  border: 1px solid rgba(11,11,11,.7) ;
}

.button a {
  list-style: none;
  text-decoration: none;
  color:black;
}

.title1{
  text-align: center;
/*  background: rgba(111,111,111,.4);*/
  width: 40%;
  margin: 30px auto;
}

.title{
    text-align: center;
/*  background: rgba(111,111,111,.4);*/
  width: 40%;
  margin: 30px auto;
}

/***************
EASYLIVING
******************/

.easyliving a{
  text-decoration: none;
}

.containerEasy{
  width: 80%;
  margin: 100px auto;
  padding: 40px;
  border: 1px solid #E5E4E2;
  border-radius: 5px;
  top: 0px;
  box-shadow: 0px 5px 15px 0px #E5E4E2;
  -webkit-animation: float 1s infinite; /* Safari 4+ */
  -moz-animation:    float 1s infinite; /* Fx 5+ */
  -o-animation:      float 1s infinite; /* Opera 12+ */
  animation:         float 1s infinite;
}

@-webkit-keyframes float {
  from   { top: 0px; }
  to { top: 10px; }
}
@-moz-keyframes float {
  from   { top: 0px; }
  to { top: 10px; }
}
@-o-keyframes float {
  from   { top: 0px; }
  to { top: 10px; }
}
@keyframes float {
  from   { top: 0px; }
  to { top: 10px; }
}


.easyLiving{
  background: url("../images/easyliving.jpg") no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 500px;
  float: right;
}


/**************
ITEMS
*************/
.containerItem{
  width: 100%;
/*  height: 600px;*/
 /* background: green;*/
}

.containerItems{
/*  background: red;*/
/*  min-height: 500px; */
height: 350px;
  width: 90%;
  margin: 0px auto;
}


.items{
  text-align: center;
  margin-top: 50px;
 /* background: blue;*/
  width: 70%;
}

.itemsDes{
  text-decoration: none;
}

/************************
IMAGES
*************/
/*clock*/
.clock{
  background: url("../images/clock.png") no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 250px;
  margin: 0px auto;
}

/*instagram App*/
.instagram{
  background: url("../images/instagram.jpg") no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 250px;
  margin: 0px auto;
}

/*calculator*/
.calculator{
  background: url("../images/calculator.png") no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 250px;
  margin: 0px auto;
}

.dirtball{
  background: url("../images/dirtball.png") no-repeat;
  background-size: 100% 100%;
  height: 200px;
  width: 250px;
  margin: 0px auto;
}

/**************
DIRTBALL
*************/




/**************
Contact
*************/
.containerContact{
  margin: 0px auto;
  width: 100%;
  text-align: center;
}

.containerContact input{
  width: 320px;
  display: inline;
}


form input{
  display: inline;
  width: 2%;
}

.message{
  width: 60%;
  height: 200px;
}

.submit{
  width: 5%;
  margin: 0px auto;
  background: transparent;
  transition: background 1s;
}

.submit:hover{
  background: rgba(128, 5, 23,.1);
 
}



/****************
STUDY
*****************/
.studyHeader{

  width: 100%;
}





.study{
  text-align: center;
  margin: 50px auto;
  width: 80%;
}

.study p{
  text-align: left;
}








