<<<<<<< HEAD
body{
	margin: 0px auto;
	padding: 0px;
}

/*************
HEADER
*************/
.container{
	width: 100%;
	background: red;

}

.row{
	margin: 0px;

}

.header{
	background: red;
	width: 100%;
}

.intro{
	background: blue;
	margin: 10px 10px;

}

.hello{
	font-size: 3em;
}

.intro_p{
	font-size: 20px;
	padding-left: 10px;
	margin-top: 15px;
	border-left: 1px solid black;
}

/* SOCIAL*/


.socialBtn li{
	list-style: none;
	display: inline-block;
	border: 1px solid grey;
	font-size: 17px;
	margin-left:1px;

}

.socialBtn li a {
	padding: 15px;

}

/**************
PORTFOLIO
**********/
.container2{
	background: rgb(66,66,66);
}

.port-header{
	font-size: 4em;
	text-align: center;
	position: relative;
	padding-top: 40px;
/*	background: orange;*/
}

.port-container{
	position: relative;
	top: 30px;
	width: 80%;
	margin: 0 auto;
	
}





=======
.container{
	width: 100%;
}

.headerBanner{
	background: red;
}

.hello{
	display:inline;
}

.what{
	background: blue;
}
>>>>>>> b535fa7a2e80cb1e042d220844b4bbfb2b9024af
