body {
  margin: 0px;
  padding: 0px;
}




.container{
  margin: 0px;
  padding: 0px;
  background: green;
  margin: 0px auto;
  
}

.row{
  margin-left: auto;
  margin-right: auto;
}


/*******************
SECTION 1 
*******************/

/*left*/
.section-one-container{
  height: 100vh;
}

.section-one-row{
  height: 60vh;
  margin: 20vh auto;
}

.intro-column{
  background: red;
  height:100%;
  padding: 0px;
  margin: 0px;
}

.circle{
  background: white;
  height: 100%;
  max-width: 60vh;
  border-radius: 50%;
  margin: 0 auto;
}

.circleContent{
  width: 80%;
  margin: 0 auto;
}


.circleContent h1{
  text-align: center;
  margin: 0 auto;
  padding: 10%;
}

.circleContent p{
  text-align: center;
  margin: 0 auto;

}

/*right*/

.profile-image-column{
  background: blue;
  height: 100%;
  margin: 0px;
  padding: 0px;
}


@media (max-width: 768px){
  .section-one-row{
    height: 50vh;
    margin: 0vh auto;
  }
}


/***************
PORTFOLIO
**************/

.portfolio-img{
  width: 100%;
  height: 150px;
  margin: 10px auto;
  cursor: pointer;

}








#overlays{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
/***********
CONTACT
************/

h2{
  text-align: center;
}

form {
  margin : 0 auto;
}

input {
  width: 48%;
  display: inline-block;
  margin: 5px auto;
}





.col-centered{
  float: none;
  margin: 0 auto;
  display: block;
}

.submit{
  margin:5px auto;
}







#two{
  background: red;
}

.three{
  background: yellow;
}

.p{
  background: orange;

}

.l{
  background: red;
}


.test {
  background: grey;
}

