body {
  margin: 0px;
  padding: 0px;
}




.container{
  margin: 0px;
  padding: 0px;
  background: green;
  margin: 0px auto;
  
}

.row{
  margin-left: auto;
  margin-right: auto;
}


/*******************
SECTION 1 
*******************/

.intro{
  background: yellow;
  text-align: center;
}

.socialLinks{
  background: pink;
}

.socialLinks{

}





.selfie{
  background: red;
  height: 300px;
}













.two{
  background: red;
}

.three{
  background: yellow;
}

.p{
  background: orange;

}

.l{
  background: red;
}


.test {
  background: grey;
}

